.carousel--container {
  background-color: var(--background-color-100);
  width: 100dvw;
  height: 350;
  /* overflow: hidden; */
  position: relative;
  padding-bottom:5%;
}

.carousel-card--container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 350px;
  /* width: 100vw; */  
  opacity: 0.8;
}
.carousel-card--container:hover {
  opacity: 1;
}

.carousel--container img {
  /* max-width: 100%; */
  /* z-index: -1; */
  position: absolute;
  width: 100vw;
  height: 350px;
  /* object-fit:cover; */
  z-index: -1;
}

.carousel--container p {
  z-index: 1;
  color: var(--main-color-100);
}

.carousel--container button {
  z-index: 1;
  margin-bottom: 5px;
}